@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Upload", "HomeController", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="file">Select a file to upload:</label>
        <input type="file" name="file" id="file" accept=".txt,.py,.json" />
    </div>
    <button type="submit" class="btn btn-primary" asp-action="Upload">Upload File</button>
    <p>@ViewBag.Message</p>
}

@using (Html.BeginForm("UploadText", "HomeController", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadTextForm" }))
{
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="content">Message:</label>
        <input type="text" name="content" id="content" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" asp-action="UploadText">Upload Text</button>
    <p>@ViewBag.Message</p>
}

@using (Html.BeginForm("DisplayFileContents", "Home", FormMethod.Post))
{
    <select id="fileNames" name="fileName">
        @foreach (var fileName in ViewBag.FileNames)
        {
            <option value="@fileName">@fileName</option>
        }
    </select>
    <button type="submit" class="btn btn-primary">Display File</button>
}

@using (Html.BeginForm("DeleteFile", "Home", FormMethod.Post))
{
    <select id="fileNames" name="fileName">
        @foreach (var fileName in ViewBag.FileNames)
        {
            <option value="@fileName">@fileName</option>
        }
    </select>
    <button type="submit" class="btn btn-danger">Delete File</button>
}

<script>
    document.getElementById('uploadTextForm').addEventListener('submit', function(event) {
        var name = document.getElementById('name').value;
        var content = document.getElementById('content').value;

        if (!name || !content) {
            event.preventDefault();
            alert('Both fields are required.');
        }
    });
</script>
